
/* ========================  messages ========================  */

.message-wrapper {
    width: 100%;
    padding: 15px;
    background-color: transparent;
    display: flex;
}

.message-body {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 8px;
    width: fit-content;
    height: fit-content;
    position: relative;
    max-width: 75%;
}

.my-message {
    border-top-right-radius: 0;
    margin-left: auto;
    margin-right: 0;
    background-color: #dee9ff;    
}

.clickable {
    cursor: pointer;
}

.others-message {
    border-top-left-radius: 0;
}

.others-message-triangle {
    width: 0;
    height: 0;
    border-top: 8px solid white;
    border-left: 8px solid transparent;
}

.my-message-triangle {
    width: 0;
    height: 0;
    border-top: 8px solid #dee9ff;
    border-right: 8px solid transparent;
    
}
.message-text {
    height: fit-content;
    font-size: 14px;
    padding: 0.2em;
}

.message-time {
    font-size: 11px;
    float: right;
    padding: 0.3em;
    color: #6b6060;
}

.message-from{
    font-weight: 600;
    height: fit-content;
    font-size: 11px;
    padding-left: 0.3em;
}

.notification-wrapper {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}

.notification-text {
    font-size: 15px;
    background-color: #ffffff;
    border-radius: 1.5em;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}


/* ========================  chats ========================  */


#chat-info {
    display: flex;
    height: 100%;
    float: left;
    margin-right: auto;
    margin-left: 1em;
    margin-bottom: auto;
    margin-top: auto;
}

#chat-info-title {
    font-size: 18px;
    font-weight: 500;
}

#chat-info-lastSeen {
    font-size: 13px;
}

#chat-options {
    margin-left: auto;
    height: 100%;
}

#chat-container {
    width: 100%;
}

/* ========================  chat headers ========================  */

.chat-list-element {
    padding: 10px 10px 0px 10px;
    background-color: white;
    cursor: pointer;
    user-select: none;
}
    .chat-list-element:hover {
        background-color: #d7e6fc;
        color: rgba(0, 0, 0, 0.87);
    }
.chat-list-title {
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 0.5em;
}

.chat-list-message {
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-list-selected {
    background-color: #528df9;
    color: #ffffff;
}

.unread-messages {
    font-size: 15px;
    background-color: #ffffff;
    border-radius: 1.5em;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.unread-messages-wrapper {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #c9def1;
}

.you-label {
    color: #56b4fc;
    font-size: 13px;
    margin-right: 0.3em;
}

.chat-list-sender {
    font-size: 13px;
    margin-right: 0.3em;
}

.you-label-selected {
    color: #ffffff;
    font-size: 13px;
    margin-right: 0.3em;
}

.chat-list-time {
    font-size: 13px;
    margin-left: auto;
    white-space: nowrap;
}

.chat-list-header {
    display: flex;
    width: 100%;
    padding-bottom: 0.2em;
}

.chat-list-unread-wrapper {
    border-radius: 50%;
    background-color: #0ee607;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    margin-right: 0.5em;
}

.chat-list-content {
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding-bottom: 1em;
    border-bottom: #dad9d9;
    display: flex;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    padding-top: 0.3em;
    height: 5em;
}

.chat-list-description {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 0.5em;
    width: 70%;
}

.chat-list-unread {
    border-radius: 50%;
    background-color: #2895fc;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
}

.chat-list-unread-selected {
    border-radius: 50%;
    background-color: #c0c4c7;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;

}

/* ========================  other ========================  */

.chat-participants {
    min-width: 300px;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border-color: #a7a7a7;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}


#user-info {
    background-color: white;
    border-color: #a7a7a7;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    background-color: white;
    position: relative;
}

#user-name {
    font-weight: 600;
    font-size: 20px;
    padding-left: 0.5em;
}

#left {
    border-color: #a7a7a7;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    background-color: white;
}

#top-icons {
    display: flex;
    height: 100%;
    margin-right: 0.5em;
    margin-left: auto;
}

#sending-form {
    display: flex;
    padding-top: 0.5em;
    position: relative;
}


#init-message {
    margin: auto;
    font-size: 20px;
    user-select: none;
}

.contact-content {
    border-bottom: #dad9d9;
    display: flex;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    margin-right: 0.6em;
    margin-left: 0.6em;
    min-width: 300px;
}

.contact-wrapper {
    cursor: pointer;
    user-select: none;
    
}
    .contact-wrapper:hover {
        background-color: #d7e6fc;
        color: rgba(0, 0, 0, 0.87);
    }

.contact-wrapper-selected {
    cursor: pointer;
    user-select: none;
    background-color: #73fd6e;
}

#current-user-name {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.7em;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ============== decent scrolling bar ===================*/

/* width */
::-webkit-scrollbar {
    width: 4px;
    border-radius: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: inherit;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
